@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --site-color-primary: #ff9301;
    --site-color-primary-opaque: rgb(255, 147, 1, 0.5);
    --site-color-heder: #0b0b15;
    --site-color-text: #555555;
    --site-color-form: #bbbbbb;
    --site-color-separator: #eeeeee;
    --site-color-background: #f7f7ff;
}

body {
    overflow-x: hidden;
    font-family: Roboto;
    color: var(--site-color-text);
    margin: 0;
    padding: 4vw 0 0 0;
}

body > * {
    padding: 4vw;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

header .header-avatar {
    display: none;
}

header .avatar-background {
    position: absolute;
    width: 100vw;
    height: 100vw;
    transform: translate(0, -22%);
    border-radius: 50%;
    background: var(--site-color-primary-opaque);
    z-index: -1;
}

header h1 {
  font-size: 6em;
  margin: 0;
}

header h2 {
  font-size: 2em;
  margin: 0;
}

header h3 {
    font-weight: normal;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

nav a {
    line-height: 3em;
    display: block;
    white-space: nowrap;
    background: var(--site-color-primary);
    border-radius: 0.3em;
    text-align: center;
    margin-bottom: 0;
}

section > h2::before {
    content: '';
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    transform: translate(-0.2em, 0px);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--site-color-primary);
}

.bio {
  padding-top: 4em;
}

.bio .avatar-circled {
    width: 40vw;
    height: 40vw;
}

#what-i-do > .card-container {
    flex-direction: column;
}

#what-i-do > .card-container > article > *:first-child {
    background-color: var(--site-color-primary);
    border-radius: 50%;
    width: 12em;
    height: 12em;
    transform: translate(-3em, -5em);
    margin-bottom: -4em;
}

#what-i-do > .card-container > article > *:first-child > * {
    width: 5em;
    transform: translate(4em, 5em);
}

#awards .card-container {
    flex-direction: column;
}

#awards article {
    display: flex;
    align-items: center;
    gap: 1em;
}

#awards article > img {
    width: 3em;

}

#my-portfolio time {
    display: block;
    font-style: italic;
    font-size: 0.8em;
}

#contact > form {
    margin-top: 3em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.map {
    margin-top: 2em;
    width: 100%;
    height: 30em;
}

@media (min-width: 560px) {
    nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 1em;
        justify-content: start;
    }

    nav a {
        color: inherit;
        line-height: 3em;
        display: block;
        background: inherit;
        border-radius: 0;
        text-align: center;
        border-bottom: 3px solid transparent;

    }

    nav a:hover {
      border-bottom: 3px solid orange;
    }

    header p {
        width: 50%;
    }

    #awards .card-container {
        flex-direction: row;
    }

    #awards article {
        flex-direction: column;
        flex-grow: 1;
    }

    #experience > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4em;

    }

    #experience > div > *:last-child {
        width: 70%;
    }

    #my-portfolio .d-grid {
        grid-template-columns: 1fr 1fr;
    }

    #contact form > div {
        display: flex;
        gap: 0 1em;
    }

    #contact form > div > input {
        margin-bottom: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 960px) {
    header p {
        width: auto;
    }

    body > header {
        padding-bottom: 0;
        grid-template-columns: 1fr 1fr;
        align-items: end;
    }

    nav {
      margin-bottom: 2em;
    }

    header .header-avatar {
        display: initial;
    }

    .bio .avatar-circled {
        width: initial;
        height: initial;
    }

    .bio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4em;
    }

    .bio > *:first-child {
        width: 100%;
    }

    #what-i-do > .card-container {
        flex-direction: row;
    }

    #my-portfolio .d-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #contact > .d-grid {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

@media (min-width: 1200px) {
    body > * {
    padding: 2em calc((100% - 1200px + 4em) / 2);
}
}

/**************
 GENERAL STYLES
 **************/


h1, h2, h3 {
  font-weight: 900;
    color: var(--site-color-heder);
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}

h3 {
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
}

p {
  line-height: 1.5;
  margin: 1em 0;
}

a {
    color: black;
    font-weight: bold;
    text-decoration-line: none;
}

img {
    width: 100%;
}

input, textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid var(--site-color-form);
    border-radius: 0;
    margin: 1em 0;
    padding: 1em;
}

input[type="submit"] {
    width: auto;
    border: 0 none;
    border-radius: 0.25em;
    background: var(--site-color-heder);
    color: white;
    font-weight: bold;
}

textarea {
    height: 10em;
}

.bg-primary {
    background: var(--site-color-primary);
}

.bg-secondary {
    background: var(--site-color-text);
}

.bg-light {
    background: var(--site-color-background);
}

.fg-primary {
    color: var(--site-color-primary);
}

.text-center {
    text-align: center;
}

.avatar-circled {
    display: inline-block;
    overflow: hidden;
    background: var(--site-color-primary);
    border-radius: 50%;
}

.avatar img {
    display: block;
}

.horizontal-separator {
    height: 18px;
    background: url(res/border-dark_lite.png);
    background-repeat: repeat-x;
    background-size: auto 6px;
}

.card-container {
    display: flex;
    gap: 1em;
}

.card-container > * {
    background: white;
    border-radius: 1em;
    padding: 1.5em;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
    align-items: center;
}

.grid-col-2 {
    grid-template-columns: auto 1fr;
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}
.card {
    border-radius: 1em;
    padding: 1.5em;
    overflow: hidden;
    margin: 1em 0;
}

.badge {
    display: inline-block;
    border-radius: 0.25em;
    padding: 0.3em;
    font-size: 0.8em;
}

.badge-primary {
    color: var(--site-color-background);
    background: var(--site-color-primary);
}

.badge-secondary {
    color: var(--site-color-background);
    background: var(--site-color-text);
}

.icon {
    width: 2em;
    height: 2em;
    margin: 0 0.2em;
}
